<section class="phx-hero">
  <div id="manage-reward-entries">

  </div>

  <div id="edit-member-reward-pool">
    <div class="member">
      <p class="email"></p>
      <input type="number" value="" />
    </div>
  </div>

  <div id="reward-summary">
    <div class="summary">
      <p class="email"></p>
      <p class="rewards"></p>
    </div>
  </div>
</section>

