<section class="section container-fluid p-5text-white text-center">
  <h1 class="">Hey!</h1>
  <p>Before you can use this site you need to sign in as a member or admin! <br>
  You can do it by clicking on "log in" link in upper left corner.</p>

</section>

