<ul class="py-4">
<%= if @current_user do %>
  <button class="btn btn-outline-danger"><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></button>
  <li><%= @current_user.email %></li>
  <%= if @current_user.role == :user do %>
    <li>Your reward pool:<%= @current_user.reward_pool %></li>
  <% end %>
<% else %>
  <button class="btn btn-outline-primary"><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></button>
<% end %>
</ul>
